.post {
    width: 100%;
}


.styleBox {
    background-color: white;
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #055;
    margin: 5px;
    display: inline-block;
  }
  
  .post-img {
    width: 200px;
  }
  
  .modal.modal-height {
    height: 50%;
  }
  
  .title h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .styleLetter {
    position: relative;
    overflow: hidden;
  }
  
  .styleLetter p {
    margin: 3px 0;
  }
  