* {
  font-family: 'Mukta Mahee', sans-serif;
}

.title {
    color: #12a9b0;
}

.subTitle {
  color: lightcoral;
}

.btn1 {
  background-color: #d3215d;
}

.bold {
  font-weight: bolder;
}

.post {
    width: 100%;
}

.styleBox {
  background-color: white;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  margin: 1rem;
}
  
.post-img {
  width: 200px;
}
  
.title h5 {
  font-weight: bold;
   text-transform: uppercase;
}
  
.styleLetter {
  position: relative;
  overflow: hidden;
}
  
.styleLetter p {
  margin: 3px 0;
}
  
.text-area-height {
  height: 5rem;
}

.height {
  height: 70%;
  min-height: 80%;
}